<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Главная</title>    
	</head>
<body>
	<img src='/static/next.jpg' />
	<h2 align="left">Здесь можно решить, что делать дальше:</h2>
	<h3 align="left"><a href="/">Заполнить анкету еще раз</h3>
	<h3 align="left"><a href="/json">Посмотреть на все данные</h3>
	<h3 align="left"><a href="/search">Поискать результат по категории</a></h3>
	<h3 align="left"><a href="/stats">А еще можно посмотреть на статистику</a></h3>
</body>
</html>
