<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	
	<title>Главная страница</title>
</head>


<!-- Main (Home) section -->
<section class="section" id="head">
	<form action="http://127.0.0.1:5000/answer" method="GET">
	<div class="container">
		<h2 class="text-center title">Здравствуйте!</h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">    
				<h3>Введите какую-нибудь реплику на русском и 
					ожидайте результат работы программы:
				</h3>
				<br><input type="text" name="word"><br><br>
				<p><input type="submit" value="Отправить"></p>    
			</div>
		</div>
	</div>
</section>
</body>
</html>