<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	
	<title>dialogue</title>
</head>


<!-- Main (Home) section -->
<section class="section" id="head">
	<form action="http://127.0.0.1:5000/answer" method="GET">
	<div class="container">
		<h2 class="text-center title"><br><i>{{ word }}</i><br><i>{{ res }}</i></h2><br>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">    
				<h3>Continue typing in something:
				</h3>
				<br><input type="text" name="word"><br><br>
				<p><input type="submit" value="Send"></p>    
			</div>
		</div>
	</div>
</section>
</body>
</html>