<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	
	<title>Main page</title>
</head>


<!-- Main (Home) section -->
<section class="section" id="head">
	<form action="http://127.0.0.1:5000/answer" method="GET">
	<div class="container">
		<h2 class="text-center title">Hello!</h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">    
				<h3>Type in something:
				</h3>
				<br>Feel free to ask questions like:<br> <b>Who is Hannah?<br>Why 13?<br>What is the thing? — not working...</b> <br>etc.<br>
				<br><input type="text" name="word"><br><br>
				<p><input type="submit" value="Send"></p>    
			</div>
		</div>
	</div>
</section>
</body>
</html>